<div class="container contrallPanel fixed-top mt-70 " >
    <div class="row " >
        <div class="col-sm-10  offset-sm-2 ">
            <div class="mainContralls ">
                <div class="card-body ">
                    <form class="text-center ">

                        <div class="row">
                            <!-- <div class="col col-sm-4" style="margin-top: -12px" data-aos="fade-right" data-aos-offset="200" data-aos-delay="500">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#postModal" (click)="fluidRight3.show()" mdbWavesEffect><i class="fa fa-pencil-square-o"></i> New Post</button>
                            </div> -->
                            <!-- <div class="col" data-aos="fade-right">
                            <select class="browser-default custom-select mb-4 form-control ">

                                <option value="1" >Related Area</option>
                                <option value="2">Feedback</option>
                                <option value="3">Report a bug</option>
                                <option value="4">Feature request</option>
                                <option value="5">Feature request</option>
                            </select>
                            
                        </div> -->

                        <div class="col" style="margin-top: -2.5%;margin-left: -14.1%;" data-aos="fade-left"  data-aos-delay="500">
                            <form class="form-inline md-form form-sm ">
                                <i class="fa fa-search" aria-hidden="true" style="margin-top: -1.2%;"></i>
                                &nbsp;<input class="form-control form-control-sm ml-" type="text" placeholder="Search" aria-label="Search" style="    width: 35%;">
                            </form>
                        </div>
                        </div>
                      
<!--Carousel Wrapper-->
<mdb-carousel data-aos="fade-left"  data-aos-delay="300" [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'" style="    position: absolute;margin-top: -6.5%;">
  <!--First slide-->
  <mdb-carousel-item >
    <div class="col">
            <span style="font-size: x-small">4 mints
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
    </span>
    </div>
    <div class="col">
            <span style="font-size: x-small">4 mints
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
    </span>
    </div>
    <div class="col">
            <span style="font-size: x-small">4 mints
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
    </span>
    </div>
    <div class="col">
            <span style="font-size: x-small">4 mints
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
    </span>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
  </mdb-carousel-item>
  <!--/Third slide-->
  <mdb-carousel-item>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
        <div class="col">
                <span style="font-size: x-small">4 mints
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
        </span>
        </div>
  </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->
                    </form>
                </div>
            </div>
           
                
        </div>
    </div>

</div>



    


<div class="container   offset-lg-0"  data-aos="fade-up" data-aos-delay="300">
    <div class="row  mt-190 scroll-box offset-md-2" style="background: #9da1a247; width:95%;box-shadow: -1px 11px 7px 1px rgba(0, 0, 0, 0.16), inset 11px 8px 20px 0px rgba(0, 0, 0, 0.12);" > 
      <div>
        
      </div>  
      <div class="col col-sm-4 offset-sm-1  " *ngFor="let post of Posts" style="margin-top: 20px" >
            <!-- Card -->
<div class="card offset-sm-1 " style="width: 108%;box-shadow: 7px 11px 7px 1px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);    margin-top: 2.7%;margin-bottom: 0.6%;" >
    <div class="card-header">
        <div class="label m">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half" >
          <span>Dilupa Sampath</span>
          </div>
          <div class="card-body" >
              <!-- Text -->
              <p class="card-text">{{post.body}}</p>
              <!-- Button -->   
            </div>
        <!-- Card image -->
        <div class="view overlay mt-31"   >
          <img class="card-img-top"  src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
        <!-- Card content -->
        
        <div class="card-footer px-1 ">

<!-- /// -->
<span color="primary justify-content-center" class="waves-light" type="button" data-toggle="modal" data-target="#commentsModal" (click)="fluidRight2.show()" mdbWavesEffect><i class="fa fa-hand-o-down" aria-hidden="true"></i> &nbsp; View Comments</span  >


<!-- //// -->
                <span class="">
                  <a data-toggle="tooltip" data-placement="top" title="Like">
                    <i class="fa fa-thumbs-up grey-text ml-3"></i>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="UnLike">
                    <i class="fa fa-thumbs-down grey-text ml-3"></i>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fa fa-heart red-text  ml-3"></i>
                  </a>
                  <span class="badge badge-info rounded-circle offset-sm-1">
                    12
                  </span>
                  
                </span>
              </div>
              
      </div>
      <!-- Card -->
      
        </div>


       
    </div>
</div>











<div  mdbModal #fluidRight1="mdb-modal" class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    
              <div class="modal-dialog modal-side modal-top-right" role="document">
                  <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                          <p class="heading lead">Reply</p>
              
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="white-text">&times;</span>
                          </button>
                      </div>
              
                      <!--Body-->
                      <div class="modal-body">
                          <div class="text-center">
                              <i class="fa fa-envelope fa-4x mb-3 animated rotateIn"></i>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,
                                  ab officiis totam.</p>
                          </div>
                      </div>
              
                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                          <a type="button" class="btn btn-success">Reply</a>
                          <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cancel</a>
                      </div>  
                  </div>
              </div>
            
        </div>

        <div class="fixed-plugin faa-horizontal faa-slow animated  " >
           
                <a data-toggle="modal" data-target="#notificationModal" (click)="fluidRight4.show()" >
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;<i class="fa fa-bell" aria-hidden="true" ></i>  
                </a>
           
        </div>

        <div class="fixed-plugin1  rounded-circle  " style=" background: #4285f4;   height: 8.5%; margin-top: 31%;margin-right: 10%;" mdbWavesEffect>
           
            <a data-toggle="modal" data-target="#postModal" (click)="fluidRight3.show()" >
               <i class="fa fa-plus"  aria-hidden="true" style="margin-top: 21%; font-size:30px"></i>  
            </a>
       
    </div>






<!-- Central Modal Medium Success -->
<div mdbModal #fluidRight2="mdb-modal" class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-notify  modal-lg  modal-warning" role="document">
        <!--Content-->
     
        <div class="modal-content ">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Comments</p>
    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-edit fa-3x mb-1 animated rotateIn"></i>
                </div>
            </div>
    
            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <div class="table-wrapper-scroll-y">

                        <table class="table">
                    
                            <!-- <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I like it">
                                <i class="fa fa-thumbs-up"></i>
                              </a>
                              <a class="thumbs" data-toggle="tooltip" data-placement="top" title="I don't like it">
                                <i class="fa fa-thumbs-down"></i>
                              </a> -->

                          <tbody>
                            <tr *ngFor="let comment of comments">
                              <th scope="row">
                                  <div class="label">
                                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
                                    </div>
                              </th>
                              <td>
                                  <div class="excerpt" >
              
                                      <!-- Brief -->
                                      <div class="brief">
                                        <a class="name">John Doe</a> Realy good post..!
                                        <div class="blue-grey-text">1 hour ago</div>
                                      </div>
                          
                                      <!-- Feed footer -->
                                      <div class="feed-footer" >
                                        <!-- <a class="comment"  >Reply</a> &middot; -->
                                        <a class="btn-floating btn-lg purple-gradient" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect><i class="fa fa-reply-all"></i></a>
                                        
            
                                      </div>
                                      <tr  [mdbCollapse]="isCollapsed" #test="bs-collapse">

                                          <div *ngFor="let comment of comments"  class="container">
                                            <div class="row">
                                            <div class="col pd-10">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-half">
                                            </div>
                                            <div class="col">
                                                <label for="">sssssssssssss</label>
                                            </div>
                                          </div>
                                           
                                              
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                <div class="col pd-10">
                                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-half">
                                                </div>
                                                <div class="col">
                                                    <input type="text" id="exampleForm2" class="form-control col">
                                                    <span class=" badge badge-primary">Reply</span>

                                                </div>
                                              </div>
                                               
                                                  
                                                </div>
                                           

                                      </tr>
                                      <!-- Feed footer -->
                          
                                    </div>
                                    
                              </td>
                             
                            </tr>
                           
                          </tbody>
                        </table>
                      
                      </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary">OK </a>
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">No, thanks</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->

<!-- Button trigger modal -->
<div class="text-center">
    <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#centralModalSuccess">Launch Modal Success <i class="fa fa-eye ml-1"></i></a>
</div>

<!-- Modal: modalPoll -->
<div mdbModal #fluidRight3="mdb-modal" class="modal fade right" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog cascading-modal modal-avatar  modal-full-height modal-right  modal-info" role="document">
    <div class="modal-content container" style="background-color: #f1f1f1;">
      <!--Header-->
      <div class="modal-header">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <!-- <i class="fa fa-file-text-o fa-4x mb-3 animated rotateIn"></i> -->
          <p>
            <strong>Add Your Post</strong>
          </p>
          <!-- <p>Have some ideas how to improve our product?
            <strong>Give us your feedback.</strong>
          </p> -->
        </div>

        <hr>

        <!-- Radio -->
        <!-- <p class="text-center">
          <strong>Your rating</strong>
        </p> -->
       <form action="" >
         
        <div class="form-group input-group mb-3">
            <!-- <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div> -->
            
            <div class="custom-file">
              <input   name="foo" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Upload Picture</label>
            </div>
          </div>
        
         <div class="form-group">
            <input   [(ngModel)]="postTitle" [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Title" >
         </div>
         <div class="form-group">
            <input type="date"  [(ngModel)]="postDate" [ngModelOptions]="{standalone: true}" id="Assing" class="form-control"  [ngModelOptions]="{standalone: true}" value="{{assingDate}}">
         </div>
        
          

          <div class="form-group" >
            
              <textarea  [(ngModel)]="postDescription" [ngModelOptions]="{standalone: true}" placeholder="Description" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
          
          <div class="btn-group offset-sm-1" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-mdb-color waves-effect"  (click)="addPost()" > <i class="fa fa-paper-plane ml-1"></i>&nbsp;Post</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-mdb-color waves-effect"> <i class="fa  fa-close "></i>Cancel</button>
        </div>
        </form>
      <!--Footer-->

 
     
    </div>
  </div>
</div>
</div>
<!-- Modal: modalPoll -->

<div mdbModal #fluidRight4="mdb-modal" class="modal fade right" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" >
    <div class="modal-dialog cascading-modal modal-full-height modal-right  modal-info" role="document">
      <div class="modal-content container scroll-box" style="background-color: #f1f1f1;">
        <!--Header-->
       
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <!-- <i class="fa fa-file-text-o fa-4x mb-3 animated rotateIn"></i> -->
            <p>
              <strong>Notifications ({{comments.length}})</strong>
            </p>
            <!-- <p>Have some ideas how to improve our product?
              <strong>Give us your feedback.</strong>
            </p> -->
          </div>
  
          <hr>

          <div class="container" style="padding-left: 0.6%;margin-left: -6%;" >
              <div  *ngFor="let comment of comments" class="row align-items-start blue lighten-4" style="border-radius: 19px;    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);width: 125%;margin-top: 1%;    margin-bottom: 3.8%;margin-left: 1%;">
                  <div class="col label text-left">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle z-depth-1-half" style="width: 45px;height: 45px">
                    <p style="font-size: x-small;font-weight: 937;">
Randima Senanayake
                    </p>
                </div>
                  <div class="col text-left" style="font-size: small;    font-weight: 450;">
                          Commented on your post
                      <p class="col" style="font-weight: 700;color: #808080b5;">
                        4 mins ago
                    </p>
                  </div>
              </div>
          </div>
  
          <!-- Radio -->
          <!-- <p class="text-center">
            <strong>Your rating</strong>
          </p> -->
         
        <!--Footer-->
  
   
       
      </div>
    </div>
  </div>
  </div>


<!-- tost -->
<div id="toast1">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Post added...!</div>
</div>

