<!-- 


<div class="container  ">
  <div class="row align-self-end mt-10">
    <div class="col-md-7 offset-md-2">
  
<div class="card">

  <div class="card-body">

<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Post Item</p>


  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Subject ">


  <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Sub Title">
  <select class="browser-default custom-select mb-4">

      <option value="" disabled>Related Area</option>
      <option value="1" >Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
      <option value="4">Feature request</option>
  </select>


  <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Body"></textarea>
  </div>
  <div class="form-group">
      Choose BannerImage :<input type="file" >
  </div>

  <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">Post As All Community</label>
  </div>


  <button class="btn btn-info btn-block" type="submit">Post</button>

</form>

  </div>

</div>

    </div>
    <div class="col">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-indent" aria-hidden="true">&nbsp; Latest Posts</i> <span class="badge badge-pill badge-warning" >12</span></li>
                <li class="list-group-item"><i class="fa fa-envelope-open" aria-hidden="true">&nbsp; Most Replys </i> <span class="badge badge-pill badge-warning" >2</span></li>
                <li class="list-group-item"><i class="fa fa-thumbs-up" aria-hidden="true">&nbsp; Most Voted</i>  <span class="badge badge-pill badge-warning">20</span></li>
            </ul>
        </div>
        <div class=" card offset-md mt-10">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <div class="chip">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Test Name
                    </div>
                    <li class="list-group-item"><i class="fa fa-indent" aria-hidden="true">&nbsp; Latest Posts</i> <span class="badge badge-pill badge-warning" >12</span></li>
                    <li class="list-group-item"><i class="fa fa-envelope-open" aria-hidden="true">&nbsp; Most Replys </i> <span class="badge badge-pill badge-warning" >2</span></li>
                    <li class="list-group-item"><i class="fa fa-thumbs-up" aria-hidden="true">&nbsp; Most Voted</i>  <span class="badge badge-pill badge-warning">20</span></li>
                </ul>
            </div>
        </div>
    </div>
    
  </div>


    


  
</div> -->

<div class="container ">
    <div class="row " >
        <div class="col-sm-8  offset-sm-3 ">
            <div class="card ">
                <div class="card-body ">
                    <form class="text-center ">

                        <div class="row">
                            <div class="col">
                            <select class="browser-default custom-select mb-4 form-control ">

                                <option value="1" >Related Area</option>
                                <option value="2">Feedback</option>
                                <option value="3">Report a bug</option>
                                <option value="4">Feature request</option>
                                <option value="5">Feature request</option>
                            </select>
                        </div>
                        <div class="col" style="margin-top: -22px;">
                            <form class="form-inline md-form form-sm ">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        </div>
                      

                    </form>
                </div>
            </div>
           
                
        </div>
    </div>

</div>



    


<div class="container">
    <div class="row">
        <div class="col col-sm-4 offset-sm-2">
            <!-- Card -->
<div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" height="200"   src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button -->
        
      
        </div>
        <div class="card-footer px-1">
                <span class="float-left font-weight-bold">
                  <strong>89$</strong>
                </span>
                <span class="float-right">
                  <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="fa fa-shopping-cart grey-text ml-3"></i>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="Share">
                    <i class="fa fa-share-alt grey-text ml-3"></i>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="fa fa-heart grey-text ml-3"></i>
                  </a>
                </span>
              </div>
      
      </div>
      <!-- Card -->
        </div>
    </div>
</div>








    