<nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav  blue-grey ">
  <!-- SideNav slide-out button -->
  <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars primary-text"></i></a>
  </div>
  <!-- Breadcrumb-->
  <div class="breadcrumb-dn mr-auto">
      <!-- <p>Material Design for Bootstrap</p> -->
  </div>
  <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item ">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block primary-text">Contact</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block primary-text">Support</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block primary-text">Account</span></a>
      </li>
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
          </div>
      </li> -->
  </ul>
</nav>
<div class="sidebar position-fixed mx-auto font-weight-bold " style="width: 200px;">

  <a class="logo-wrapper waves-effect">
      <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-business-man-399587fe24739d5a-512x512.png" class="img-fluid" alt="">
 <span class="col" style="color: #7b7370;">Dilupa Sampath</span>
    </a>

  <div class="list-group list-group-flush">

      <a routerLink="dashboards/v1"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-id-badge mr-3"></i>Profile
      </a>
      <a routerLink="profiles/profile1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-address-card mr-3"></i>My Wall</a>
      <a routerLink="tables/table1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-cogs mr-3"></i>Settings</a>
      <a routerLink="maps/map1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-map mr-3"></i>Something</a>
      <!-- <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-exclamation mr-3"></i>404</a> -->

  </div>
</div>

<div class="container  ">
  <div class="row align-self-end mt-10">
    <div class="col-md-7 offset-md-2">
      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <!-- <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
  </div> -->

  <div class="card-body">
<!-- Default form contact -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Post Item</p>

  <!-- Name -->
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Subject ">

  <!-- Email -->
  <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Sub Title">
  <select class="browser-default custom-select mb-4">

      <option value="" disabled>Related Area</option>
      <option value="1" >Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
      <option value="4">Feature request</option>
  </select>

  <!-- Message -->
  <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Body"></textarea>
  </div>
  <div class="form-group">
      Choose BannerImage :<input type="file" >
  </div>
  <!-- Copy -->
  <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">Post As All Community</label>
  </div>

  <!-- Send button -->
  <button class="btn btn-info btn-block" type="submit">Post</button>

</form>
<!-- Default form contact -->
  </div>

</div>
<!-- Card -->
    </div>
    <div class="col">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-indent" aria-hidden="true">&nbsp; Latest Posts</i> <span class="badge badge-pill badge-warning" >12</span></li>
                <li class="list-group-item"><i class="fa fa-envelope-open" aria-hidden="true">&nbsp; Most Replys </i> <span class="badge badge-pill badge-warning" >2</span></li>
                <li class="list-group-item"><i class="fa fa-thumbs-up" aria-hidden="true">&nbsp; Most Voted</i>  <span class="badge badge-pill badge-warning">20</span></li>
            </ul>
        </div>
        <div class=" card offset-md mt-10">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <div class="chip">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Test Name
                    </div>
                    <li class="list-group-item"><i class="fa fa-indent" aria-hidden="true">&nbsp; Latest Posts</i> <span class="badge badge-pill badge-warning" >12</span></li>
                    <li class="list-group-item"><i class="fa fa-envelope-open" aria-hidden="true">&nbsp; Most Replys </i> <span class="badge badge-pill badge-warning" >2</span></li>
                    <li class="list-group-item"><i class="fa fa-thumbs-up" aria-hidden="true">&nbsp; Most Voted</i>  <span class="badge badge-pill badge-warning">20</span></li>
                </ul>
            </div>
        </div>
    </div>
    
  </div>


    


  
</div>
